@charset "UTF-8";

#login {
	   position: relative; top:105px; left:44.5%;

}

#Title {
	 background-color: #000000;
	 color: #FFFFFF;
	 font-size: 23px;
}

body { background: url(/img/wain.png) 100px 250px no-repeat ,
                   url(/img/ke-ki.png) 1600px 250px no-repeat,
                   url(/img/ra-men.png) 100px 600px no-repeat,
                   url(/img/kare-.png) 1600px 600px no-repeat;
                   background-size: 10% auto;
}

#nick input{
	width: 400px;
    height: 40px;
    position: relative; top:10px; left:-5%;
    display: block;

}

#sub {
	 position: relative; top:50px; left:4%;
}

#TT{
	color: #FFFFFF;
	 font-size: 50px;
	 position: relative; top:-120px; left:43%;
}

#ms {
	 position: relative; top:0px; left:-2%;
}