@charset "UTF-8";

#secret {
	   position: relative; top:105px; left:44.5%;

}

#Title {
	 background-color: #000000;
	 color: #FFFFFF;
	 font-size: 23px;
}

body { background: url(/img/wain.png) 100px 250px no-repeat ,
                   url(/img/ke-ki.png) 1600px 250px no-repeat,
                   url(/img/ra-men.png) 100px 600px no-repeat,
                   url(/img/kare-.png) 1600px 600px no-repeat;
                   background-size: 10% auto;
}

#secret input[type="text"]{
	width: 400px;
    height: 40px;
    position: relative; top:10px; left:-5%;
    display: block;

}

#secret input[type="submit"]{
	 position: relative; top:40px; left:3.5%;
	 width: 80px;
}

#nick{
	position: relative; top:0px; left:-90px;
	font-size: 20px;
}

#TT{
	color: #FFFFFF;
	 font-size: 50px;
	 position: relative; top:-120px; left:43%;
}