@charset "UTF-8";


/* カテゴリー検索用 */
.search_category ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.search_category ul li {
  margin: 0 .3em .3em 3;
}
.search_category ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  padding: 0 2.5em 0 1em;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 6px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #333;
  font-size: 12px;
  text-decoration: none;
  -webkit-transition: .2s;
  transition: .2s;
  box-sizing: border-box;
}
.search_category li span {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: #2196F3;
  border-radius: 100%;
  color: #fff;
  font-size: 11px;
  -webkit-transition: .2s;
  transition: .2s;
}
.search_category ul li a:hover {
  background-color: #2196F3;
  border: 1px solid #2196F3;
  color: #fff;
}
.search_category ul li a:hover span {
  background-color: #fff;
  color: #2196F3;
}
.search_category ul li a:before {
  content: "#";
  padding-right: 2px;
}





