<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>メニュー登録</title>
<link th:href="@{/CSS/addmenu.css}" rel="stylesheet">
<link rel="shortcut icon" th:href="@{/img/cc.ico}">

 <style type="text/css">
 <!--
        .menu:link {color:#ffffee;}
        .menu:visited{color:#ff8888;}
        .menu:hover{color:#8888ff;}
        .menu:active{color:#ffff88;}
 -->
 </style>

</head>
<body>
<div id="Title">
<br>
<br>
　<a href="/" class="menu">☝Top☝</a>
<br>
<br>
<br>
</div>

<div id="TT"><b>メニュー登録</b></div>
<div id="store">
<br>
<a th:text="${count}"></a>:メニュー登録完了<br>

<form action="/addmenu" method="POST">
<input type="hidden" th:value="${count}" th:name="count">
<input type="hidden" th:value="${code}" th:name="code">

<a>メニュー名　　　　 　  </a><input type="text" name="menuname"><br>

<a>値段　　　 　　　　　  </a><input type="text" name="menuprice">
<a>　</a>
<div>
<input type="submit" value="メニュー登録へ"></div>
<br>
<br>
<span th:text="${message}" style="color:red"></span>
</form>
<br>
<br>
<a th:href="'/addpicture/'+${code}">➡写真を登録する方はこちら</a><br>
<a th:href="'/addmap/'+${code}">➡MAPを登録する方はこちら</a><br><br>

<a th:href="'/check/' +${code}">➡登録情報確認へ</a>

</div>
</body>
</html>