<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>メニュー登録</title>
</head>
<body>
<a href="/">Top</a>
<h2>メニュー登録</h2>
<br>
<form action="/addstore" method="POST">

<a>店舗名　　　　 　  </a><input type="text" name="name">

<a>店舗カテゴリー1　</a><input type="text" name="categorycode1">

<a>店舗カテゴリー2　</a><input type="text" name="categorycode2">

<a>店舗カテゴリー3　</a><input type="text" name="categorycode3">

<a>住所　　　　　 　 </a><input type="text" name="address">

<a>電話番号　　　  　 </a><input type="text" name="tel">

<a>予算　　　　　 　 </a><input type="text" name="budget">

<p><input type="checkbox" name="os" value="win7">Windows7</p>

<a>メッセージ</a><br><textarea name="message" cols="40" rows="8"></textarea>

<input type="submit" value="メニュー登録へ">
</form>
</body>
</html>