<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>MAPを登録</title>


</head>
<body>

<a href="/">Top</a>

<h2>MAPを登録</h2>

<a>手順(1):GoogleMAPで登録したいお店の住所を検索する</a><br>
<a>手順(2):『共有』をクリックする</a><br>
<a>手順(3):『地図を埋め込む』をクリックし、『HTMLをコピー』をクリックする</a><br>
<a>手順(4):MAP登録画面でコピーしたURLを貼り付けて登録ボタンをクリックする</a><br>
<a href="https://www.google.co.jp/maps/@35.7531648,139.4601579,14z">GoogleMAPへ</a>

<img th:src="${pictureurl}">

<form action="/addmap" method="POST">
<a>URL貼り付け：</a>
<input th:type="text" name="url">
<input type="hidden" name="code" th:value="${code}">
<input type="submit" value="登録">
</form>

</body>
</html>