<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>MAPを登録</title>

<link th:href="@{/CSS/addmap.css}" rel="stylesheet">
<link rel="shortcut icon" th:href="@{/img/cc.ico}">
</head>
<body>

<div id="Title">
<br>
<br>
　<a href="/">☝Top☝</a>
<br>
<br>
<br>
</div>

<div id="store">

<h2>MAPを登録</h2>

<a href="https://www.google.co.jp/maps/@35.7531648,139.4601579,14z" target="_blank">【GoogleMAPへ】</a>
<form action="/addmap" method="POST">
<br>
<a>URL貼り付け：</a>
<input th:type="text" name="url">
<input type="hidden" name="code" th:value="${code}">
<input type="submit" value="登録"><span th:text="${message}" style="color:red"></span>
</form>
<br>
<br>
<a>手順1⃣：GoogleMAPで登録したいお店の住所を検索する。　　　　　　 </a><a>　 手順2⃣：『共有』をクリックする。</a><br>
<img th:src="@{/img/t1.png}" width="300" height="450"><a>　　　　　　　　　　　　　　　　　　　</a><img th:src="@{/img/t2.png}" width="300" height="450"><br>
<br>
<a>手順3⃣：『地図を埋め込む』をクリックし、『HTMLをコピー』を</a><a>　　　　　手順4⃣：MAP登録画面でコピーしたURLを貼り付けて</a><br>
　　　　クリックする。　　　　　　　　　　　　　　　　　　　　　　　　　　　 登録ボタンをクリックする。<br>
<img th:src="@{/img/t3.png}" width="300" height="300"> <img th:src="@{/img/t4.png}" width="300" height="300">　　　 　<img th:src="@{/img/t5.png}" width="330" height="300"><br>



<img th:src="${pictureurl}">

</div>
</body>
</html>