<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>レビュー投稿</title>
</head>
<h1>レビュー投稿</h1>
<body>
<a href="/">Top</a>

<form action="/addreview" method="POST">
<input type="hidden" name="reviewcode" value="${session.reviewcode}">
<input type="hidden" name="usercode" value="${session.usercode}">
<input type="hidden" name="reviewname" value="${reviewname}">
<a th:text="${reviewname}"></a>
<a>お店の評価</a>
    星<select name="runk">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>つ
		<br>
<a>レビュー</a><br><textarea name="review" cols="60" rows="10"></textarea><br>

<input type="submit" value="投稿">
</form>
</body>
</html>