<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>レビュー投稿</title>
<link th:href="@{/CSS/addreview.css}" rel="stylesheet">
<link rel="shortcut icon" th:href="@{/img/cc.ico}">
</head>
<body>
<div id="Title">
<br>
<br>
　<a href="/">☝Top☝</a>
<br>
<br>
<br>
</div>

<div id="TT"><b>レビュー投稿</b></div>

<div id="rev">
</div>
<div id="store">
<form action="/addreview" method="POST">
<input type="hidden" th:name="storename" th:value="${storename}">
<input type="hidden" th:name="reviewname" th:value="${session.nickname}">

ニックネーム：<b th:text="${session.nickname}"></b><br>

店舗名：
<b th:text="${storename}"></b>
<br><br>
<a>お店の評価　　　</a>
星<select name="star">
	<option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    </select>つ
		<br>
<a>レビュー</a><br><textarea name="review" cols="80" rows="15"></textarea><br>

<input type="submit" value="投稿">
</form>

</div>
</body>
</html>