<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>店舗登録</title>
</head>
<body>
<a href="/">Top</a>
<h2>店舗登録</h2>
<br>
<form action="/addstore" method="POST">
<h4 >
<a>店舗名　　　　 　  </a><input type="text" name="name">
</h4>


<h4>
<a>店舗カテゴリー1　</a><input type="text" name="categorycode1">
</h4>


<h4>
<a>店舗カテゴリー2　</a><input type="text" name="categorycode2">
</h4>


<h4>
<a>店舗カテゴリー3　</a><input type="text" name="categorycode3">
</h4>


<h4>
<a>住所　　　　　 　 </a><input type="text" name="address">
</h4>


<h4>
<a>電話番号　　　  　 </a><input type="text" name="tel">
</h4>

<h4>
<a>予算　　　　　 　 </a><input type="text" name="budget">
</h4>


<h4>
<a>メッセージ</a><br><textarea name="message" cols="40" rows="8"></textarea>
</h4>


<input type="submit" value="メニュー登録へ ">
</form>
</body>
</html>