<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>メニュー登録</title>
</head>
<body>
<a href="/">Top</a>
<h2>メニュー登録</h2>
<br>
<form action="/addstore" method="POST">

<a>店舗名　　　　 　  </a><input type="text" name="name"><br>

<a>店舗カテゴリー1　</a><input type="text" name="categorycode1"><br>

<a>店舗カテゴリー2　</a><input type="text" name="categorycode2"><br>

<a>店舗カテゴリー3　</a><input type="text" name="categorycode3"><br>

<a>住所　　　　　 　 </a><input type="text" name="address"><br>

<a>電話番号　　　  　 </a><input type="text" name="tel"><br>

<a>予算　　　　　 　 </a><input type="text" name="budget"><br>

<a>時間              </a><input type="checkbox" name="time1" value="1">朝　　
                     <input type="checkbox" name="time2" value="1">昼　　
                     <input type="checkbox" name="time3" value="1">夜<br>

<a>シーン            </a><input type="checkbox" name="scean1" value="1">ファミリー　　
                     <input type="checkbox" name="scean2" value="1">デート　　
                     <input type="checkbox" name="scean3" value="1">友人<br>
                     　　
<a>メッセージ</a><br><textarea name="message" cols="40" rows="8"></textarea><br>

<input type="submit" value="メニュー登録へ">
</form>
</body>
</html>