<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>新規登録</title>
<link th:href="@{/CSS/adduser.css}" rel="stylesheet">
<link rel="shortcut icon" th:href="@{/img/cc.ico}">
</head>
<body>
<div id="Title">
<br>
<br>
　<a href="/">☝Top☝</a>
<br>
<br>
<br>
</div>
<br><br><br>


<div id="user">
<form action="/adduser" method="POST">
<h4 >
名前　　　　　　　　　　　　<input type="text" name="name">
</h4>
<br>

<h4>
ニックネーム　　　　　　　　<input type="text" name="nickname">
</h4>
<br>

<h4>
住所　　　　　　　　　　　　<input type="text" name="address">
</h4>
<br>

<h4>
電話番号　　　　　　　　　　<input type="text" name="tel">
</h4>
<br>

<h4>
メールアドレス　　　　　　　<input type="text" name="email">
</h4>
<br>

<h4>
パスワード　　　　　　　　　<input type="password" name="password"><br>
確認のためもう一度パスワードを入力してください<br>　　　　　　　　　　　　　　<input type="password" name="password2">
</h4>
<br>

<h4>秘密の質問　　 　　　　　　 <input type="radio" name="secret_q" value="母親の旧姓は？" checked="checked">母親の旧姓は？　　
                                <input type="radio" name="secret_q" value="出身校は？">出身校は？
        　　<input type="radio" name="secret_q" value="飼っていたペットの名前は？">飼っていたペットの名前は？<br>
　答え　　　　　　　　　　 <input type="text" name="secret">
</h4>
<br>

<div id="sub">
<input type="submit" value="登録する">
</div>

<a th:text="${message}"></a>
</form>
</div>


</body>
</html>