<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>新規登録</title>
</head>
<body>
<a href="/">Top</a>
<br><br><br>
<form action="/adduser" method="POST">
<h4 >
名前　　　　　　　　　　　　<input type="text" name="name">
</h4>
<br>

<h4>
ニックネーム　　　　　　　　<input type="text" name="nickname">
</h4>
<br>

<h4>
住所　　　　　　　　　　　　<input type="text" name="address">
</h4>
<br>

<h4>
電話番号　　　　　　　　　　<input type="text" name="tel">
</h4>
<br>

<h4>
メールアドレス　　　　　　　<input type="text" name="email">
</h4>
<br>

<h4>
パスワード　　　　　　　　　<input type="text" name="password">
</h4>
<br>

<input type="submit" value="登録する">
<a th:text="${message}"></a>
</form>
</body>
</html>