<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>メニュー・写真変更</title>

<style>
#ww {
  width: 520px;
  height: 310px;
}

</style>
</head>

<body>
<a href="/">Top</a>
<h2>メニュー・写真変更</h2>


<h4>メニュー</h4>
<div th:each="menu:${menulist}">
<form action="/change" method="POST">
<a>メニュー名：</a>
<input type="text" th:value="${menu.menuname}" th:name="nemuname"><br>
<a>値段：</a><input th:type="text" th:value="${menu.menuprice}" th:name="menuprice">
<input type="hidden" th:value="${menu.code}" th:name="code">
<input type="hidden" th:value="${menu.menucode}" th:name="menucode">
<input type="submit" value="変更">
</form>

<form action="/change" method="POST">
<input type="hidden" th:value="${menu.code}" th:name="menucode_d">
<input type="hidden" th:value="${menu.menucode}" th:name="menucode">
<input type="submit" value="削除">
</form>
<a>--------------------------------------------------------------</a>
</div>


<div id="ww">
<table>
<tr th:each="pic:${picturelist}">
<td><img th:src="${pic.pictureurl}" width="500" height="300" alt=""></td>
<form action="/change" method="POST">
<input type="hidden" th:value="${pic.code}" th:name="p_code">
<td><input type="submit" value="削除"></td>
</form>
</tr>
</table>
</div>

<div th:each="storelist:${storelist}">
<a th:href="'/addstore/'+${storelist.code}">メニュー追加</a>
<a th:href="'/addpicture/'+${storelist.code}">写真追加</a>
</div>
</body>
</html>