<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>メニュー・写真変更</title>

<style>
#ww {
  width: 520px;
  height: 310px;
}

</style>
</head>

<body>
<a href="/">Top</a>
<h2>メニュー・写真変更</h2>


<h4>メニュー</h4>
<div th:each="menu:${menulist}">
<form action="/change" method="POST">
<a>メニュー名：</a>
<input th:type="text" th:value="${menu.menuname}"><br>
<a>値段：</a><input th:type="text" th:value="${menu.menuprice}">
<input type="hidden" value="${menu.code}" name="menucode">
<input type="submit" value="変更">
</form>
<form action="/change" method="POST">
<input type="hidden" value="${menu.code}" name="menucode_d">
<input type="submit" value="削除">
</form>
<a>--------------------------------------------------------------</a>
</div>


<div id="ww">
<table>
<tr th:each="pic:${picturelist}">
<td><img th:src="${pic.pictureurl}" width="500" height="300" alt=""></td>
<form action="/change" method="POST">
<input type="hidden" value="${pic.code}" name="piccode">
<td><input type="submit" value="削除"></td>
</form>
</tr>
</table>
</div>


</body>
</html>