<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>会員情報変更</title>
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

<style type="text/css">
      .box {
        display: flex;
        align-items: center;
      }
      p {
        padding-right: 20px;
      }
      .box-pass {
        width: 200px;
        position: relative; top:45px; left:240px; ;
      }
      .box-pass input {
        width: 170px;
        height: 16px;
      }
      input.button__input {
        display: none;
      }
      .button__label {
        position: absolute;
        right: 28px;
        top: 3px;
      }

</style>
</head>
<body>
<a href="/">Top</a>
<h2>会員情報変更</h2>
<a>会員ID：</a><a th:text="${code}"></a>
<div th:each="list:${list}">
<form action="/changeuser" method="POST">
<h4 >
名前　　　　　　　　　　　　<input type="text" name="name" th:value="${list.name}">
</h4>
<br>

<h4>
ニックネーム　　　　　　　　<input type="text" name="nickname" th:value="${list.nickname}">
</h4>
<br>

<h4>
住所　　　　　　　　　　　　<input type="text" name="address" th:value="${list.address}">
</h4>
<br>

<h4>
電話番号　　　　　　　　　　<input type="text" name="tel" th:value="${list.tel}">
</h4>
<br>

<h4>
メールアドレス　　　　　　　<input type="text" name="email" th:value="${list.email}">
</h4>
<br>

        <div class="box">
        <div class="box-pass">
          <input class="js-password" type="password" value="" id="pass-login" name="password" maxlength="10" placeholder="旧パスワード" required="required">
          <input class="js-password-toggle button__input" id="password--eye" type="checkbox" name="password01">
          <label class="js-password-label button__label" for="password--eye"><i class="fas fa-eye"></i></label>
        </div>
      </div>
      <h4>旧パスワード</h4>
<h4>新パスワード　　　　　　　　　<input type="password" name="newpassword" placeholder="新パスワード"><br>
確認のためもう一度新パスワードを入力してください：<input type="password" name="newpassword" placeholder="もう一度入力"><br>
</h4>
<br>
<input type="hidden" th:value="${list.secret_q}" name="secret_q">
<input type="hidden" th:value="${list.secret}" name="secret">
<input type="hidden" th:value="${list.password}" name="password">
<input type="hidden" th:value="${code}" name="code">
<input type="submit" value="変更する">
</form>
</div>


<script>

const passwordToggles = document.querySelectorAll('.js-password-toggle');

passwordToggles.forEach((el) => {
  el.addEventListener('change', function () {
    const password = el.previousElementSibling,
          passwordLabel = el.nextElementSibling;
    if (password.type === 'password') {
      password.type = 'text';
      passwordLabel.innerHTML = '<i class="fas fa-eye-slash"></i>';
    } else {
      password.type = 'password';
      passwordLabel.innerHTML = '<i class="fas fa-eye"></i>';
    }
    password.focus();
  });
});

</script>
</body>
</html>