<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>店舗情報変更</title>
<link th:href="@{/CSS/changestore.css}" rel="stylesheet">
<link rel="shortcut icon" th:href="@{/img/cc.ico}">
</head>
<body>
<div id="Title">
<br>
<br>
　<a href="/">☝Top☝</a>
<br>
<br>
<br>
</div>

<div id="store">
<div id="name">
<h2>店舗情報変更</h2></div>
<br>
<form action="/change/store2/" method="POST">
<div th:each="list:${storelist}">
<input type="hidden" name="code" th:value="${list.code}">
<a>店舗名　　　　 　  </a><input type="text" name="name" th:value="${list.name}"><br>

<input type="hidden" name="rankave" th:value="${list.rankave}">
<input type="hidden" name="rank" th:value="${list.rank}">

<a>カテゴリー　</a><p><input type="radio" name="categorycode1" value="和食" th:checked="${list.categorycode1} == '和食'">和食　　
                     <input type="radio" name="categorycode1" value="中華" th:checked="${list.categorycode1} == '中華'">中華　　
                     <input type="radio" name="categorycode1" value="イタリアン" th:checked="${list.categorycode1} == 'イタリアン'">イタリアン　　
                     <input type="radio" name="categorycode1" value="カフェ" th:checked="${list.categorycode1} == 'カフェ'">カフェ　　
                     <input type="radio" name="categorycode1" value="ジャンクフード" th:checked="${list.categorycode1} == 'ジャンクフード'">ジャンクフード　　
                     <input type="radio" name="categorycode1" value="ファストフード" th:checked="${list.categorycode1} == 'ファストフード'">ファストフード　　
                     <input type="radio" name="categorycode1" value="ラーメン" th:checked="${list.categorycode1} == 'ラーメン'">ラーメン　　
                     <input type="radio" name="categorycode1" value="海鮮" th:checked="${list.categorycode1} == '海鮮'">海鮮　　
                     <input type="radio" name="categorycode1" value="焼肉" th:checked="${list.categorycode1} == '焼肉'">焼肉　　
                     <input type="radio" name="categorycode1" value="定食" th:checked="${list.categorycode1} == '鍋'">鍋
                   </p>

<a>雰囲気 　</a><p>  <input type="radio" name="categorycode2" value="わいわい" th:checked="${list.categorycode2} == 'わいわい'">わいわい　　
                     <input type="radio" name="categorycode2" value="落ち着いた" th:checked="${list.categorycode2} == '落ち着いた'">落ち着いた　　
                     <input type="radio" name="categorycode2" value="おしゃれ" th:checked="${list.categorycode2} == 'おしゃれ'">おしゃれ
                     <input type="radio" name="categorycode2" value="昔ながらの" th:checked="${list.categorycode2} == '昔ながらの'">昔ながらの　　
                     <input type="radio" name="categorycode2" value="完全個室" th:checked="${list.categorycode2} == '完全個室'">完全個室　　
                     <input type="radio" name="categorycode2" value="隠れ家" th:checked="${list.categorycode2} == '隠れ家'">隠れ家
                </p>


<a>住所　　　　　 　 </a><input type="text" name="address" th:value="${list.address}"><br>

<a>電話番号　　　  　 </a><input type="text" name="tel" th:value="${list.tel}"><br>

<a>予算　　　　　 　 </a><input type="text" name="budget" th:value="${list.budget}"><br>

<a>時間              </a>

<div th:if="${list.time == 1}">
                     <input type="checkbox" name="time1" value="1">朝　　
                     <input type="checkbox" name="time2" value="1">昼　　
                     <input type="checkbox" name="time3" value="1" checked="checked">夜<br>
</div>
<div th:if="${list.time == 11}">
                     <input type="checkbox" name="time1" value="1">朝　　
                     <input type="checkbox" name="time2" value="1" checked="checked">昼　　
                     <input type="checkbox" name="time3" value="1" checked="checked">夜<br>
</div>
<div th:if="${list.time == 111}">
                     <input type="checkbox" name="time1" value="1" checked="checked">朝　　
                     <input type="checkbox" name="time2" value="1" checked="checked">昼　　
                     <input type="checkbox" name="time3" value="1" checked="checked">夜<br>
</div>
<div th:if="${list.time == 10}">
                     <input type="checkbox" name="time1" value="1">朝　　
                     <input type="checkbox" name="time2" value="1"checked="checked">昼　　
                     <input type="checkbox" name="time3" value="1">夜<br>
</div>
<div th:if="${list.time == 100}">
                     <input type="checkbox" name="time1" value="1" checked="checked">朝　　
                     <input type="checkbox" name="time2" value="1">昼　　
                     <input type="checkbox" name="time3" value="1">夜<br>
</div>
<div th:if="${list.time == 101}">
                     <input type="checkbox" name="time1" value="1" checked="checked">朝　　
                     <input type="checkbox" name="time2" value="1">昼　　
                     <input type="checkbox" name="time3" value="1" checked="checked">夜<br>
</div>
<div th:if="${list.time == 110}">
                     <input type="checkbox" name="time1" value="1" checked="checked">朝　　
                     <input type="checkbox" name="time2" value="1" checked="checked">昼　　
                     <input type="checkbox" name="time3" value="1">夜<br>
</div>




<a>シーン            </a>

<div th:if="${list.scean == 1}">
                     <input type="checkbox" name="scean1" value="1">ファミリー　　
                     <input type="checkbox" name="scean2" value="1">デート　　
                     <input type="checkbox" name="scean3" value="1" checked="checked">友人<br>
</div>
<div th:if="${list.scean == 10}">
                     <input type="checkbox" name="scean1" value="1">ファミリー　　
                     <input type="checkbox" name="scean2" value="1" checked="checked">デート　　
                     <input type="checkbox" name="scean3" value="1">友人<br>
</div>
<div th:if="${list.scean == 11}">
                     <input type="checkbox" name="scean1" value="1">ファミリー　　
                     <input type="checkbox" name="scean2" value="1" checked="checked">デート　　
                     <input type="checkbox" name="scean3" value="1" checked="checked">友人<br>
</div>
<div th:if="${list.scean == 100}">
                     <input type="checkbox" name="scean1" value="1" checked="checked">ファミリー　　
                     <input type="checkbox" name="scean2" value="1">デート　　
                     <input type="checkbox" name="scean3" value="1">友人<br>
</div>
<div th:if="${list.scean == 101}">
                     <input type="checkbox" name="scean1" value="1" checked="checked">ファミリー　　
                     <input type="checkbox" name="scean2" value="1">デート　　
                     <input type="checkbox" name="scean3" value="1" checked="checked">友人<br>
</div>
<div th:if="${list.scean == 110}">
                     <input type="checkbox" name="scean1" value="1" checked="checked">ファミリー　　
                     <input type="checkbox" name="scean2" value="1" checked="checked">デート　　
                     <input type="checkbox" name="scean3" value="1">友人<br>
</div>
<div th:if="${list.scean == 111}">
                     <input type="checkbox" name="scean1" value="1" checked="checked">ファミリー　　
                     <input type="checkbox" name="scean2" value="1" checked="checked">デート　　
                     <input type="checkbox" name="scean3" value="1" checked="checked">友人<br>
</div>


    <script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		document.addEventListener("DOMContentLoaded",function() {
			var data = /*[[${message}]]*/+"";
            var e = document.getElementById('test')
			e.value = data;

		})
		/*]]>*/
	</script>
                  　　
<a>メッセージ</a><br><textarea name="message" cols="70" rows="13" id="test"></textarea><br>
</div>
  <input type="submit" value="変更"><span th:text="${message2}" style="color:red"></span>
</form>
<br>

</div>
</body>
</html>