<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>登録情報確認</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

<script type="text/javascript">
	$(document).ready(function() {
		$('.slider').bxSlider({

		});
	});
</script>

<style>
#ww {
	width: 520px;
	height: 310px;
}
</style>

<link th:href="@{/CSS/checkstore.css}" rel="stylesheet">
<link rel="shortcut icon" th:href="@{/img/cc.ico}">
</head>
<body>


<div id="Title">
<br>
<br>
　<a href="/">☝Top☝</a>
<br>
<br>
<br>
</div>

<div id="TT"><b>登録情報確認</b></div>

<div id="store">

	<h4>以下の情報で登録致します。よろしいですか？</h4>

<div th:each="storelist:${storelist}">
<a th:href="'/checkok/' +${storelist.name}">➡登録する</a>　　<a th:href="'/checkng/' +${storelist.code}">➡キャンセル</a>
</div>

<br>

<div id="Img">
<div th:each="storelist:${storelist}">
<a>店名：</a><b th:text="${storelist.name}"></b>
</div>
	<div id="ww">
		<div class="slider">
			<div th:each="pic:${picturelist}">
				<img th:src="${pic.pictureurl}" width="500" height="300" alt="">
			</div>
		</div>
	</div>
</div>

	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		document.addEventListener("DOMContentLoaded", function() {
			var data = /*[[${mapurl}]]*/+"";

			var kugiri = '"';
			var array = data.split(kugiri);

			for (var i = 0; i < array.length; i++) {
				if (i == 1) {
					document.getElementById("map").src = array[i];
				}
			}

		})
		/*]]>*/
	</script>

	<br>
	<br>
<div id="Map">
	<iframe src="" width="400" height="300" style="border: 0;"
		allowfullscreen="" loading="lazy" id="map"></iframe>
</div>

	<br>
	<br>


	<div id="Cate">
	<div th:each="storelist:${storelist}">
		<div>
			<a>カテゴリー：</a> <a th:text="${storelist.categorycode1}"></a><br>
			<a>雰囲気：</a>
			<a th:text="${storelist.categorycode2}"></a>
		</div>


		<div>
			<h3>お店概要</h3>
			<a>住所</a>
			<p th:text="${storelist.address}"></p>

			<a>時間</a>
			<div th:if="${storelist.time == 1}">
				<a>🌙</a>
			</div>
			<div th:if="${storelist.time == 11}">
				<a>🕛🌙</a>
			</div>
			<div th:if="${storelist.time == 111}">
				<a>🌞🕛🌙</a>
			</div>
			<div th:if="${storelist.time == 100}">
				<a>🌞</a>
			</div>
			<div th:if="${storelist.time == 110}">
				<a>🌞🕛</a>
			</div>
			<div th:if="${storelist.time == 101}">
				<a>🌞🌙</a>
			</div>
			<div th:if="${storelist.time == 10}">
				<a>🕛</a>
			</div>


			<a>シーン</a>
			<div th:if="${storelist.scean == 1}">
				<a>🧑‍🤝‍🧑</a>
			</div>
			<div th:if="${storelist.scean == 10}">
				<a>💏</a>
			</div>
			<div th:if="${storelist.scean == 100}">
				<a>👨‍👩‍👦</a>
			</div>
			<div th:if="${storelist.scean == 11}">
				<a>💏🧑‍🤝‍🧑</a>
			</div>
			<div th:if="${storelist.scean == 111}">
				<a>👨‍👩‍👦💏🧑‍🤝‍🧑</a>
			</div>
			<div th:if="${storelist.scean == 101}">
				<a>👨‍👩‍👦🧑‍🤝‍🧑</a>
			</div>
			<div th:if="${storelist.scean == 110}">
				<a>👨‍👩‍👦💏</a>
			</div>
		</div>

	<h3>メッセージ：</h3><a th:text="${storelist.message}"></a>

	</div>
	</div>

	<div id="Menu">

	<h4>メニュー</h4>
	<a>-------------------------------------------------</a>
	<div th:each="menu:${menulist}">
		<p th:text="${menu.menuname}"></p>
		<a>値段：</a><a th:text="${menu.menuprice}"></a><br> <a>-------------------------------------------------</a>
	</div>

	<div th:each="i : ${#numbers.sequence(0, 0)}">
		<div th:if="${#lists.size(reviewlist) gt __${i}__}">
			<h4>ユーザレビュー</h4>
			<a th:text="${reviewlist[__${i}__].reviewname}"></a><a> 星</a><a
				th:text="${reviewlist[__${i}__].star}"></a><a>つ</a> <a
				th:text="${reviewlist[__${i}__].review}"></a>
		</div>
	</div>

	<div th:if="${count != 0}">
		<div th:each="storelist:${storelist}">
			<a th:href="'/review/'+ ${storelist.code}"
				th:text="'もっとみる('+(${count} - 1)+')'"></a>
		</div>
	</div>
	</div>

</div>
</body>
</html>