<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>登録完了</title>
<link th:href="@{/CSS/checkok.css}" rel="stylesheet">
<link rel="shortcut icon" th:href="@{/img/cc.ico}">
 <style type="text/css">
 <!--
        .menu:link {color:#ffffee;}
        .menu:visited{color:#ff8888;}
        .menu:hover{color:#8888ff;}
        .menu:active{color:#ffff88;}
 -->
 </style>

</head>
<body>
<div id="Title">
<br>
<br>
　<a href="/" class="menu">☝Top☝</a>
<br>
<br>
<br>
</div>
<div id="TT"><b>店舗登録完了</b></div>
<div id="store">
<h2>登録が完了しました。</h2>
<a>ご登録ありがとうございました。</a><br>
<a>登録店名：</a><b th:text="${storename}"></b>
</div>
</body>
</html>