<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>登録完了</title>
<link th:href="@{/CSS/checkuser.css}" rel="stylesheet">
<link rel="shortcut icon" th:href="@{/img/cc.ico}">
</head>
<body>
<div id="Title">
<br>
<br>
　<a href="/">☝Top☝</a>
<br>
<br>
<br>
</div>
<div id="TT"><b>登録完了</b></div>
<div id="user">
<h3>アカウント登録が完了しました。</h3>
<a>ご登録ありがとうございました。</a><br>
<a>ニックネーム：</a><a th:text="${nickname}"></a><br>
<br>
　　●<a href="/login">ログイン</a>●
</div>

</body>
</html>