<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>マイページ</title>
<link th:href="@{/CSS/mypage.css}" rel="stylesheet">
<link rel="shortcut icon" th:href="@{/img/cc.ico}">
</head>
<body>
<div id="Title">
<br>
<br>
　<a href="/">☝Top☝</a>
<br>
<br>
<br>
</div>
<div id="TT"><b>マイページ</b></div>
<div id="my">
<b th:text="${session.nickname}"></b><a>さんのマイページ</a>
 <a th:href="'/changeuser/'+${session.usercode}" id="change">会員情報変更</a>
</div>


<div id="user">
<br>
<br>

<h3>マイレビュー</h3><br>
<a>🔳🔲🔳🔲🔳🔲🔳🔲🔳🔲🔳🔲🔳🔲🔳🔲🔳🔲🔳🔲🔳🔲🔳🔲🔳🔲🔳🔲🔳🔲🔳🔲🔳🔲🔳🔲🔳🔲🔳🔲🔳🔲🔳</a><br><br>
<a>〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰</a><br>
<div th:each="rev:${list}">
<b th:text="${rev.storename}"></b><a>　★：</a><a th:text="${rev.star}"></a><a>つ</a>
<p th:text="${rev.review}"></p>
<a>〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰〰</a><br>
</div>
<br>
<a>🔲🔳🔲🔳🔲🔳🔲🔳🔲🔳🔲🔳🔲🔳🔲🔳🔲🔳🔲🔳🔲🔳🔲🔳🔲🔳🔲🔳🔲🔳🔲🔳🔲🔳🔲🔳🔲🔳🔲🔳🔲🔳🔲</a>
</div>
</body>
</html>