<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>マイページ</title>
<link th:href="@{/CSS/mypage.css}" rel="stylesheet">
</head>
<body>
<div id="Title">
<br>
<br>
　<a href="/">☝Top☝</a>
<br>
<br>
<br>
</div>

<div id="my">
<b th:text="${session.nickname}"></b><a>さんのマイページ</a>
 <a th:href="'/changeuser/'+${session.usercode}" id="change">会員情報変更</a>
</div>


<div id="user">
<br>
<br>

<h3>マイレビュー</h3><br>
<a>🔳🔳🔳🔳🔳🔳🔳🔳🔳🔳🔳🔳🔳🔳🔳🔳🔳🔳🔳🔳🔳🔳🔳🔳🔳🔳🔳🔳🔳🔳🔳🔳🔳🔳🔳🔳🔳🔳🔳🔳🔳🔳🔳</a>
<div th:each="rev:${list}">
<b th:text="${rev.storename}"></b><a>　星：</a><a th:text="${rev.star}"></a><a>つ</a>
<p th:text="${rev.review}"></p>
<a>🔳🔳🔳🔳🔳🔳🔳🔳🔳🔳🔳🔳🔳🔳🔳🔳🔳🔳🔳🔳🔳🔳🔳🔳🔳🔳🔳🔳🔳🔳🔳🔳🔳🔳🔳🔳🔳🔳🔳🔳🔳🔳🔳</a>
</div>
</div>
</body>
</html>