<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>レビュー</title>
<link th:href="@{/CSS/review.css}" rel="stylesheet">
<link rel="shortcut icon" th:href="@{/img/cc.ico}">
</head>
<body>
<div id="Title">
<br>
<br>
　<a href="/">☝Top☝</a>
<br>
<br>
<br>
</div>
<div id="TT"><b>レビュー</b></div>
<div id="rev"></div>
<br>
<br>
<div id="store">
<div th:each="rev:${list}">
 <b th:text="${rev.reviewname}"></b>:<a>　星</a><a th:text="${rev.star}"></a><a>つ</a>
 <p th:text="${rev.review}"></p>
 <p>-------------------------------------------------------------------------------------------------------</p>
</div>
</div>
</body>
</html>