<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>詳細検索</title>
<link th:href="@{/CSS/searchDetail.css}" rel="stylesheet">
<link rel="shortcut icon" th:href="@{/img/cc.ico}">
</head>
<body>
<div id="Title">
<br>
<br>
　<a href="/">☝Top☝</a>
<br>
<br>
<br>
</div>

<div id="store">
<form action="/search/detail" method="POST">
<br><br><br>
<div id="se">
<table align="center">
<tr>
	<td>
		<input type="text" name="keyword" size="100">　
		<input type="submit" value="検索">
	</td>

</tr>
</table>
</div>
<br>
<a th:text="${message2}"></a>
<br><br>

<a>場所</a>
	<p>
		<input type="text" name="address">
	</p>

<a>カテゴリー</a>
	<p>
		<input type="radio" name="categorycode1" value="和食" checked="checked">和食　　
        <input type="radio" name="categorycode1" value="中華">中華　　
        <input type="radio" name="categorycode1" value="イタリアン">イタリアン　　
        <input type="radio" name="categorycode1" value="カフェ">カフェ　　
        <input type="radio" name="categorycode1" value="ジャンクフード">ジャンクフード　　
        <input type="radio" name="categorycode1" value="ファストフード">ファストフード　　
        <input type="radio" name="categorycode1" value="ラーメン">ラーメン　　
        <input type="radio" name="categorycode1" value="すし">すし　　
        <input type="radio" name="categorycode1" value="焼肉">焼肉　　
        <input type="radio" name="categorycode1" value="定食">定食
	</p>

<a>雰囲気</a>
	<p>
		<input type="radio" name="categorycode2" value="わいわい" checked="checked">わいわい　　
		<input type="radio" name="categorycode2" value="落ち着いた">落ち着いた　　
		<input type="radio" name="categorycode2" value="おしゃれ">おしゃれ　　
		<input type="radio" name="categorycode2" value="昔ながらの">昔ながらの　　
		<input type="radio" name="categorycode2" value="古民家">古民家　　
		<input type="radio" name="categorycode2" value="隠れ家">隠れ家　　
	</p>

<a>時間</a>
	<p>
		<input type="checkbox" name="time1" value="1" checked="checked">モーニング　　
		<input type="checkbox" name="time2" value="1">ランチ　　
		<input type="checkbox" name="time3" value="1">ディナー　　
	</p>

<a>値段</a>
	<p>
		<input type="text" name="minprice">
		　　～　　
		<input type="text" name="maxprice">

　　　　　　　　　<a th:text="${message}"></a>
	</p>
<br>
<a>シーン</a>
	<p>
		<input type="checkbox" name="scean1" value="1" checked="checked">ファミリー　　
		<input type="checkbox" name="scean2" value="1">デート　　
		<input type="checkbox" name="scean3" value="1">友人と
	</p>

</form>

</div>
</body>
</html>
















