<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>秘密の質問</title>
<link th:href="@{/CSS/secret_p.css}" rel="stylesheet">
</head>
<body>
<div id="Title">
<br>
<br>
　<a href="/">☝Top☝</a>
<br>
<br>
<br>
</div>

<div id="secret">

<form action="/secret/q" method="POST">
<div id="nick">
<a>ニックネーム：</a><b th:text="${nickname}"></b><br>
<a>秘密の質問：</a>
<b th:text="${secret_q}"></b><br>
</div>
<input type="text" name="secret_a" placeholder="答え">
<input type="hidden" th:value="${nickname}" name="nickname">
<input type="submit" value="送信">
</form>
<span th:text="${message}" style="color:red"></span>

</div>
</body>
</html>