<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>パスワードを忘れた方はこちら</title>
<link th:href="@{/CSS/secret.css}" rel="stylesheet">
<link rel="shortcut icon" th:href="@{/img/cc.ico}">

 <style type="text/css">
 <!--
        .menu:link {color:#ffffee;}
        .menu:visited{color:#ff8888;}
        .menu:hover{color:#8888ff;}
        .menu:active{color:#ffff88;}
 -->
 </style>


</head>
<body>
　　<div id="Title">
<br>
<br>
　<a href="/" class="menu">☝Top☝</a>
<br>
<br>
<br>
</div>

<div id="TT"><b>パスワード</b></div>

<div id="secret">
<form action="/secret" method="POST">

<div id="nick">
<a>登録したニックネームを入力してください：</a>
</div>

<input type="text" name="nickname" placeholder="ニックネーム">

<div id="sub">
<input type="submit" value="送信">
</div>
</form>
<br><br>
<span th:text="${message}" style="color:red"></span>

</div>
</body>
</html>