<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>パスワード</title>
<link th:href="@{/CSS/secret_answer.css}" rel="stylesheet">
<link rel="shortcut icon" th:href="@{/img/cc.ico}">
</head>
<body>
<div id="Title">
<br>
<br>
　<a href="/">☝Top☝</a>
<br>
<br>
<br>
</div>
<div id="TT"><b>パスワード</b></div>
<div id="secret">
<div id="nick">
<a>ニックネーム:</a><b th:text="${nickname}"></b><br>
<a>パスワード：</a><b th:text="${password}"></b><br>
<br>
　　●<a href="/login">ログイン</a>●
</div>
</div>
</body>
</html>