<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>秘密の質問</title>
</head>
<body>
<a href="/">Top</a>
<form action="/secret/q" method="POST">
<a>ニックネーム:</a><a th:text="${nickname}"></a><br>
<a>秘密の質問：</a>
<a th:text="${secret_q}"></a><br>
<a>答え：</a>
<input type="text" name="secret_a">
<input type="hidden" th:value="${nickname}">
<input type="submit" value="送信">
</form>
<span th:text="${message}" style="color:red"></span>
</body>
</html>