<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>検索結果</title>


</head>
<body>

<a href="/">Top</a>

<a href="https://www.google.co.jp/maps/@35.7531648,139.4601579,14z">googlemapへ</a>

<img th:src="${pictureurl}">

<form action="/google" method="POST">
<a>URL貼り付け：</a>
<input th:type="text" name="url">
<input type="submit" value="登録">
</form>

<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
function aa() {
var data = /*[[${googleurl}]]*/+"";

var kugiri = '"';
var array = data.split(kugiri);
alert(data);
alert(array);

for(var i=0; i<array.length;i++){
	if(i==1){
		document.getElementById("test").src = array[i];
	}
}

//document.getElementById("rank").innerHTML = data.toFixed(1);
}
/*]]>*/
</script>
<iframe src="" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" id="test"></iframe>

<input type="submit" onclick="aa()" value="ボタン">
<!--
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6471.496996738162!2d140.49071039290737!3d36.37362654557145!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6022257a911dafd9%3A0x259b9d7100a853a8!2z44CSMzEwLTAwMTQg6Iyo5Z-O55yM5rC05oi45biC6Iul5a6u55S6!5e0!3m2!1sja!2sjp!4v1626247585268!5m2!1sja!2sjp" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
-->

<iframe src="https://www.google.co.jp/maps" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>


</body>
</html>