<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>TABETELL</h1>
<a href="/login">ログイン</a>
<a>　</a>
<a href="/adduser">新規登録</a><br>
<a href="/addstore">お店登録</a>
<form action="/keyword">
<input type="text" name="keyword">
<input type="submit" value="検索"><a>　　　</a>
</form>
<a href="">詳細検索</a><br>
<a>カテゴリ</a>
<a href="/keyword/test1">[test1]</a>
<a href="/keyword/test2">[test2]</a>
<a href="/keyword/test3">[test3]</a>
<a href="/keyword/test4">[test4]</a>
<a href="/keyword/test5">[test5]</a>

</body>
</html>