<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

<script type="text/javascript">
	$(document).ready(function() {
		$('.slider').bxSlider({

		});
	});
</script>

<style>
#ww {
	width: 520px;
	height: 310px;
}
</style>

<link th:href="@{/CSS/style.css}" rel="stylesheet">
</head>
<body>
<div class="bg_pattern Polka_v2"></div>

<h1 align="center">TABETELL</h1>

<h3 th:if="${session.nickname == null}">
ようこそゲストさん<br>
</h3>

<h3 th:unless="${session.nickname == null}">
ようこそ<a th:text="${session.nickname}"></a>さん<br>
</h3>

<div th:if="${session.nickname == null}">
<a href="/adduser">新規登録</a>　　
<a href="/login">ログイン</a>
</div>

<div th:unless="${session.nickname == null}">
<a th:href="'/mypage/' + ${session.usercode}">マイページに行く</a>　
<a href="/addstore">お店登録</a>　
<a href="/logout">ログアウト</a>
</div>
<br>


<div align="center">
<form action="/keyword">
<input type="text" name="keyword" size="100">　
<input type="submit" value="検索">　　
<a th:text="${message}"></a>
</form>
</div>
<br>

<a>　　　　　　　　【カテゴリ検索】　　　　　　</a>


<section class="search_category">
<ul>
	<li><a href="/keyword/和食">[和食]</a></li>
	<li><a href="/keyword/中華">[中華]</a></li>
	<li><a href="/keyword/イタリアン">[イタリアン]</a></li>
	<li><a href="/keyword/ファストフード">[ファストフード]</a></li>	
	<li><a href="/keyword/おしゃれ">[おしゃれ]</a></li>
	<li><a href="/keyword/完全個室">[完全個室]</a></li>
	<li><a href="/keyword/わいわい">[わいわい]</a><li>
</ul>
</section>
<br><br>

<div align="center"><font size="4">
<a href="search/detail">詳細検索</a>
</font></div>
<br><br>
<br><br>
<br>
<div align="center">
<h2 align="center">ランキング</h2>

<h4 align="center">
【カテゴリー別ランキング】
<a href="/">[総合]</a>　　
<a href="/ファストフード">[ファストフード]</a>　　
<a href="/和食">[和食]</a>　　
<a href="/イタリアン">[イタリアン]</a>
</h4>
<br><br>


第１位

<div id="ww">
	<div class="slider">
		<div th:each="pic:${picturelist1}">
			<img th:src="${pic.pictureurl}" width="500" height="300" alt="No Image">
		</div>
	</div>
</div>
<br>
<div th:each="list1 : ${list1}">
	<a th:href="'/store/' + ${list1.name}" th:text="${list1.name}"></a>
	<a th:text="${list1.address}"></a>
	<a th:text="${list1.categorycode1}"></a>
	<a th:text="${list1.categorycode2}"></a>
	<a th:text="${list1.message}"></a>
</div>
<br>

第２位
<div id="ww">
	<div class="slider">
		<div th:each="pic:${picturelist2}">
			<img th:src="${pic.pictureurl}" width="500" height="300" alt="No Image">
		</div>
	</div>
</div>
<br>
<div th:each="list2 : ${list2}">
	<a th:href="'/store/' + ${list2.name}" th:text="${list2.name}"></a>
	<a th:text="${list2.address}"></a>
	<a th:text="${list2.categorycode1}"></a>
	<a th:text="${list2.categorycode2}"></a>
	<a th:text="${list2.message}"></a>
</div>
<br>

第3位
<div id="ww">
	<div class="slider">
		<div th:each="pic:${picturelist3}">
			<img th:src="${pic.pictureurl}" width="500" height="300" alt="No Image">
		</div>
	</div>
</div>
<br>
<div th:each="list3 : ${list3}">
	<a th:href="'/store/' + ${list3.name}" th:text="${list3.name}"></a>
	<a th:text="${list3.address}"></a>
	<a th:text="${list3.categorycode1}"></a>
	<a th:text="${list3.categorycode2}"></a>
	<a th:text="${list3.message}"></a>
</div>
<br>

<br>

</div>

</body>
</html>