<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1 align="center">TABETELL</h1>

<div th:if="${session.nickname == null}">
ようこそゲストさん<br>
</div>

<div th:unless="${session.nickname == null}">
ようこそ<a th:text="${session.nickname}"></a>さん<br>
</div>

<div th:if="${session.nickname == null}">
<a href="/adduser">新規登録</a>　　
<a href="/login">ログイン</a>
</div>
<a> </a>
<div th:unless="${session.nickname == null}">
<a href="/logout">ログアウト</a>
<a href="/addstore">お店登録</a>
</div>
<a> </a>

<a th:href="'/mypage/' + ${session.nickname}">マイページに行く</a>

<div>
<form action="/keyword">
<input type="text" name="keyword">　
<input type="submit" value="検索"><a>　　</a>
<a th:text="${message}"></a>
</form>
<a href="search/detail">詳細検索</a><br>
</div>

<div>
<a>カテゴリ</a>
<a href="/keyword/ファストフード">ファストフード</a>
<a href="/keyword/イタリアン">イタリアン</a>
<a href="/keyword/和食">和食</a>
<a href="/keyword/早い">早い</a>
<a href="/keyword/個室">個室</a>
</div>
----------------------------------------------------------------------------------------------------------
<br><br>
<a href="/">[総合]</a>　　
<a href="/ファストフード">ファストフード</a>　　
<a href="/和食">和食</a>　　
<a href="/イタリアン">イタリアン</a>

<div>
<a>ランキング表示</a>
<br>
第１位
<div th:each="list1 : ${list1}">
	<a th:href="'/store/' + ${list1.name}" th:text="${list1.name}"></a>
	<a th:text="${list1.address}"></a>
	<a th:text="${list1.categorycode1}"></a>
	<a th:text="${list1.categorycode2}"></a>
	<a th:text="${list1.message}"></a>
</div>
第２位
<div th:each="list2 : ${list2}">
	<a th:href="'/store/' + ${list2.name}" th:text="${list2.name}"></a>
	<a th:text="${list2.address}"></a>
	<a th:text="${list2.categorycode1}"></a>
	<a th:text="${list2.categorycode2}"></a>
	<a th:text="${list2.message}"></a>
</div>
第3位　　　

<div th:each="list3 : ${list3}">
	<a th:href="'/store/' + ${list3.name}" th:text="${list3.name}"></a>
	<a th:text="${list3.address}"></a>
	<a th:text="${list3.categorycode1}"></a>
	<a th:text="${list3.categorycode2}"></a>
	<a th:text="${list3.message}"></a>
</div>
<br>

</div>
<div>
<img src=""><br>
<img src="">
<img src="">
</div>


<div>
<a>トップユーザ</a><br>
<a href="/mypage/test1">test1</a><br>
<a href="/mypage/test2">test2</a><br>
<a href="/mypage/test3">test3</a><br>
<a href="/mypage/test4">test4</a><br>
<a href="/mypage/test5">test5</a><br>
</div>


</body>
</html>